import logging
import warnings
from fastapi import FastAPI
from contextlib import asynccontextmanager
from app.core import settings

from app.core.adapter.asyncio.mongo.mongodbadapter import (
    MongoDBAsyncAdapter,
)
from app.core.adapter.statsd import StatsdClientManager
from app.core.adapter.flagsmith import FlagsmithClientManager
from app.core.adapter.asyncio.caching.client import RedisClientManager

logger = logging.getLogger(__name__)


@asynccontextmanager
async def app_lifespan(app: FastAPI):
    config = settings.get_config()
    # Initialize logging
    logging.config.dictConfig(config.LOGGING_CONFIG)
    warnings.simplefilter("default", category=RuntimeWarning)

    logger.info(f"Initializing {{ project_name }} | Flavour: {config.FLAVOUR}")

    # Initialize StatsD Default Client
    logger.debug("Initializing StatsD Default Client")
    StatsdClientManager(
        host=config.STATSD_HOST,
        port=config.STATSD_PORT,
        service_name=config.STATSD_SERVICE_NAME,
        prefix=config.STATSD_PREFIX,
    ).init_default_client()

    # Initialize Flagsmith Client
    logger.debug("Initializing Flagsmith Client")
    FlagsmithClientManager.init_client(
        api_key=config.FLAGSMITH_API_KEY,
        environment_key=config.FLAGSMITH_ENVIRONMENT_KEY,
    )

    yield

    # Cleanup code here:
    logger.info("Shutting down {{ project_name }}")
    MongoDBAsyncAdapter.close_all()
    await RedisClientManager.close_all() 