# Environment Configuration
FLAVOUR=dev

# Database Configuration
{% if use_postgres -%}
SQLALCHEMY_DATABASE_URL=postgresql://{{ database_user }}:{{ database_password }}@localhost:5432/{{ database_name }}
{% else -%}
SQLALCHEMY_DATABASE_URL=sqlite:///{{ python_module_name }}.db
{% endif -%}

# JWT Configuration
SECRET_KEY={{ jwt_secret_key }}

# StatsD Configuration (optional)
STATSD_HOST=localhost
STATSD_PORT=8125
STATSD_SERVICE_NAME={{ python_module_name }}
STATSD_PREFIX={{ python_module_name }} 