from typing import List, Optional
from sqlalchemy.orm import Session
from app.core.base.repository import BaseRepository
from app.{{ entity }}.model import {{ entity.title() }}

class {{ entity.title() }}Repository(BaseRepository[{{ entity.title() }}]):
    def __init__(self, db: Session):
        super().__init__(db, {{ entity.title() }})
